@model CMSComponentHTML
@if(Model != null)    
{ 
   string urlPersonalizacion = ViewBag.BaseURLContent + "/imagenes/proyectos/personalizacion/" + ViewBag.Comunidad.Key.ToString();
   string urlComunidad=Html.GetComunidad().Url;

<html lang="es">
	<head>  
		<meta charset="utf-8" />	
		<meta name="apple-mobile-web-app-capable" content="yes" />	
		<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,width=device-width,user-scalable=yes" />
		<title>@Html.Translate("MUSEONACIONALPRADO")</title>
		<link href="@urlPersonalizacion/ElPrado/css/prado.css" media="all" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="//cloud.typography.com/7751072/662984/css/fonts.css" />		   
		<script src="@urlPersonalizacion/ElPrado/js/jquery-1.10.2.min.js"></script>
		<script src="@urlPersonalizacion/ElPrado/js/jquery.hcsticky-min.js"></script> <!-- elementos semi-fixed, como barras o menús sticky -->
		<script src="@urlPersonalizacion/ElPrado/js/jquery.backstretch.min.js"></script> <!-- centra y escala backgrounds -->	
		<script src="@urlPersonalizacion/ElPrado/js/jquery.magnific-popup.min.js"></script>	<!-- Modal popups -->
		<script src="@urlPersonalizacion/ElPrado/js/jquery.expander.min.js"></script> <!-- Ampliar textos (leer más) -->
		<script src="@urlPersonalizacion/ElPrado/js/jquery.heapbox-0.9.3.min.js"></script> <!-- Para dar estilos a los selects -->	
		<script src="@urlPersonalizacion/ElPrado/js/leaflet.js"></script>
		<script src="@urlPersonalizacion/ElPrado/js/verge.min.js"></script> 
		<script src="@urlPersonalizacion/ElPrado/js/idangerous.swiper-2.4.min.js"></script>	<!-- Carruseles -->	
		<script src="@urlPersonalizacion/ElPrado/js/iscroll.js"></script>	
		<script src="@Html.GetBaseUrlStatic()/jsUnificar/MVC.Comun.js"  type="text/javascript"></script>
		<script src="@urlPersonalizacion/community.js?2"  type="text/javascript"></script>
		<script src="@Html.GetBaseUrlStatic()/lang/es/text.js"  type="text/javascript"></script>
		<script src="@Html.GetBaseUrlStatic()/jsUnificar/busquedas.js"  type="text/javascript"></script>
		<script src="@urlPersonalizacion/ElPrado/js/jquery-ui.min.js"  type="text/javascript"></script>	
		<script defer src="@urlPersonalizacion/ElPrado/js/templates/common.js"></script>	
	</head>
	<body class="mi-prado-pop-up">	
		<section class="usuario corazon">
			<div class="logueado">
				<h1><em>Mi</em> Prado</h1>			
			</div>
		</section>
		<section class="ini-sesion">
			<div class="crea-recorrido">
				<h1>@Html.Translate("CREAYCOMPARTETUSPROPIOSRECORRIDOS")</h1>
				<figure>	
					<img src="@urlPersonalizacion/cms/miprado_small_intro.jpg"/>
					<figcaption>
					<a class="botones-centrados bc-estandar hv-estandar" onclick="top.location.href = '@(urlComunidad+"/"+Html.Translate("URLMIPRADO"))'">@Html.Translate("CONOCEMAS")</a>
					</figcaption>				
				</figure>
			</div>
			<div class="login-sesion">
				<form class="form-general">			
				<h1>@Html.Translate("REGÍSTRATEENMIPRADO")</h1>
				<fieldset class="ppal">
				<span id="errorNombreObligatorio" class="oculto">@Html.Translate("ERRORREGISTRONOMBREOBLIGATORIO")</span>
				<span id="errorCondicionesUsoObligatorio" class="oculto">@Html.Translate("ERRORCONDICIONESUSOOBLIGATORIO")</span>
				<span id="errorCorreoObligatorio" class="oculto">@Html.Translate("ERRORREGISTROCORREOOBLIGATORIO")</span>
				<span id="errorContrasenaObligatorio" class="oculto">@Html.Translate("ERRORREGISTROCONTRASENAOBLIGATORIO")</span>
				<span id="errorContrasenaMaxCaracteres" class="oculto">@Html.Translate("ERRORREGISTROCONTRASENA12CARACTERES")</span>
				<span id="errorContrasenaNoCoincide" class="oculto">@Html.Translate("ERRORREGISTROCONTRASENANOCOINCIDE")</span>
				<span id="errorContrasenaCorta" class="oculto">@Html.Translate("ERRORREGISTROCONTRASENAMENOSSEISCARACTERES")</span>
				<span id="errorCorreoFormato" class="oculto">@Html.Translate("ERRORREGISTROFORMATOEMAIL")</span>			
				<span id="errorCorreoUsado" class="oculto">@Html.Translate("ERRORREGISTROEMAILUSADO")</span>			
				<span id="errorRegistroGenerico" class="oculto">@Html.Translate("ERRORREGISTROGENERICO")</span>			
				<div class="row">
					<input type="text" id="nombre" name="nombre" placeholder="@Html.Translate("NOMBRE")" />
					<label for="nombre">@Html.Translate("NOMBRE")</label>				               
				</div>	
				<div class="row">
					<input type="text" id="correo-electronico" name="correo-electronico" placeholder="@Html.Translate("CORREOELECTRONICO")" />
					<label for="correo-electronico">@Html.Translate("CORREOELECTRONICO")</label>				               
				</div>
				<div class="row">
					<input type="password" id="password" name="password" placeholder="@Html.Translate("CONTRASENA")" />				
					<label for="password">@Html.Translate("CONTRASENA")</label>				               
				</div>
				<div class="row">
					<input type="password" id="rep-password" name="rep-password" placeholder="@Html.Translate("REPITECONTRASENA")" />
					<label for="password">@Html.Translate("REPITECONTRASENA")</label>				               
				</div>
				<div class="row">
				<a class="botones-centrados bc-estandar hv-estandar btRegistrar" >@Html.Translate("LISTO")</a>			
				</div>	

				<div class="check-radio" style="padding: 0 0 13px 0;">
					<input type="checkbox" value="false" name="consent" id="consent">
					<label for="consent"><span></span><p class="pol-privacidad">@Html.Raw(Html.Translate("ACEPTOCONDICIONESUSO"))</p></label>
				</div>
				
				<div class="crear-cuenta">
					<a href="@(urlComunidad+"/cmspagina?ComponentName=operativaLogin")">@Html.Translate("YATENGOCUENTA")</a>
				</div>			
				</fieldset>
			</form>
			</div>
		</section>
	</body>
</html>
}                               
